html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(96%) sepia(4%)
        saturate(0%) hue-rotate(341deg) brightness(104%) contrast(105%);
    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
    --top-act-group-separate-color: #ededf6;
}
